project_id: Github Project ID
github_org: The org to search opened PR
github_repo: The repo to search issues
number_of_developers: current number of developers in the team
columns:
- name: Name of the column
  limit: limit
  wip: true/false